h1{
    background-color: grey;
    width: 700px;
}
body{
    h1{
        font-family:"Poppins", sans-serif ;
    }
    background-image: url(background.jpg);
   
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
   
}
.first{
    border: 2px solid white;
}
.second{
    border-width: 2px;
    border-style: solid;
    border-color: black;

}
.margin1{
    height: 200px;
    width: 300px;
    background-color: blue;
    margin: 100px 100px 10px 300px;
}
.padding1{
    height: 50px;
    width: 100px;
    background-color: blue;
    margin: auto;
    padding: 50px 50px 50px 100px;
}
.text{
    color: white;
    text-transform: capitalize;
    text-indent: 50px;
    text-align: justify;
    word-spacing: 10px;
    line-height: 30px;
}
.font{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bolder;
    font-weight: 3vw;
    font-family: "Poppins", sans-serif;
}

i{
    font-size: 100px;
    color: red;
}
a{
    text-decoration: none;
    color: red;
}
a:hover{
    color: white;
}
a:active{
    color:yellow;
}

.p1{
    border: 3px  solid red;
    width: 700px;
    margin-bottom: 40px;
}
.p2{
    border: 4px  solid green;
    max-width: 700px;
    margin-bottom: 40px;
}
.p3{
    
    width: 700px;
    height: 300px;
    border: 5px solid  blue;
    overflow:scroll;

}
.parent{
    background-color: green;
    
   
    width: 500px;
    height: 270px;
    margin: auto;
   position: relative;
}
.child{
    width: 200px;
    height:200px;
    background-color: red;
    
   position: absolute;

   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   margin: auto;
   border-radius: 50%;
}
.float{
    float: left;
}

h2:nth-child(3)
{
    color:red;
}
h2:first-child{
    color:blue;

}
h2:last-child{
    color: aqua;
}

.element::first-letter{
    color: blue;
    font-size: 50px;
}
.element::before{
    content:url(favicon.png);
   
}
.social{
    background:url(social.jpg);
    background-repeat: no-repeat;
    width: 99.5px;
    height: 99.5px;
    background-position: 0 -100.8px;
    
    
 
}
.flexbox{
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    
    background-color: aqua;
    flex-direction: row;
    /* !Justify content holo kono box element ke right-left e moove korar ekta systam */
    justify-content: center ; /* flex start default,
    space around bolle je sob row te sob element fill up thakbe tar right left e space create hobe tobe prothom element ar last element er right left e kono space thakbe na ebong oi row ta complete row hobe,  kintu last unfill up thaka element gulo space beshi thakbe ehong er maddhome row fill up hobe na,
    ar space-between holo sob element emon bhabe  thakbe, prothom element ar last element er right left e space thakbe na, tobe majkhaner element gulo te onek space create hote pare.
     */
     
     /* !align item holo ekta system jar maddhome box element gulo ke amra chaile top bottom e move korte pari */
     align-items:center;
     /* jodi flex start kora hoy taile first line box er top er sathe lagano obosthay thakbe, ar jodi flex end kora hoy taile last line ta box er bottom er sathe lagano thakbe, ar jodi center kora hoy taile ekebare center e thakbe
      */
}
.header
{
    margin: 0px;
    background-color: black;
    display: flex;
    gap: 600px;
    margin-left: 0px;
}
.header .nav-bar ul li{
    text-decoration: none;
    list-style: none;
  
  
}
.lol{
    display: flex;
    
   
    li a{
        margin-top: 0;
        padding: 15px 25px 15px 25px;
        color: white;
        font-weight: bold;
        background-color: rgba(62, 54, 54, 0.99);
        border: 1px solid rgb(141, 120, 120);
    }
}

li a:hover{
    background-color: white;
    color: black;
}
.logo{
    color:white;
    margin-left: 0;
}
